<h1>Items</h1>
<ul *ngIf="item == null">
    <li *ngFor="let item of data" (click)='getItems(item["url"])'>
        {{item["name"]}}
    </li>
</ul>
<div *ngIf="item == null">
    <button (click)="getData(prev)" *ngIf='prev != null'>Prev</button>
    <button (click)="getData(next)">Next</button>
</div>

<div *ngIf="item != null">
    <ul>
        <li>{{item.id}}</li>
        <li>{{item.name}}</li>
        <li>{{item.cost}}</li>
        <li>{{item.effect}}</li>
        <img src="{{item.sprite}}" />
    </ul>
    <button (click)="list()">Back</button>
    <button (click)="addToShop(item)">Add Item</button>
</div>

