<main>
    <div class="view">
        <div class="leftsidebar">
            <div class="title">
                <strong>Party</strong>
            </div>
            <div class="party">
                <div class="slot" *ngFor="let poke of pPokes; let i = index"
                    (click)="swap ? swapParty(i) : selectPokemon(poke)">
                    <img [src]="poke.sprite.front">
                </div>
                <div class="slot" *ngIf="pPokes.length < 6" (click)="swap && selected ? placeParty() : {}">
                </div>
            </div>
            <div *ngIf="selected && !swap">
                <h1>{{selected.nickname || selected.name | titlecase}}</h1>
                <img [src]="selected.sprite.front_a">
                <p>
                    <b>Lv:</b> {{selected.level}}
                    <br>
                    <b>Type:</b> {{selected.type1 | titlecase}}{{selected.type2 != '' ? ((', ' + selected.type2) |
                    titlecase) : ''}}
                    <br>
                    <b>Weight:</b> {{selected.weight}}
                    <br>
                    <b>Height:</b> {{selected.height}}
                    <br>
                    <b>HP:</b> {{selected.hp}}/{{selected.stats.hp}}
                    <br>
                    <b>Att:</b> {{selected.stats.att}}
                    <br>
                    <b>Def:</b> {{selected.stats.def}}
                    <br>
                    <b>Sp Att:</b> {{selected.stats.satt}}
                    <br>
                    <b>Sp Def:</b> {{selected.stats.sdef}}
                    <br>
                    <b>Speed:</b> {{selected.stats.speed}}
                </p>
            </div>
        </div>
        <div class="storage">
            <div class="titlebar">
                <mat-icon class="clickable left" (click)="prev()">arrow_back_ios</mat-icon>
                <strong>{{storage.boxes[storage.activeIndex].name}}</strong>
                <mat-icon class="clickable right" (click)="next()">arrow_forward_ios</mat-icon>
            </div>
            <div class="box">
                <div class="slot" *ngFor="let poke of box; let i = index"
                    (click)="swap ? swapBox(i) : selectPokemon(poke)">
                    <img class="contain" *ngIf="poke" [src]="poke.sprite.front">
                </div>
            </div>
        </div>
        <div class="rightsidebar">
            <div class="title">
                <strong>Trade</strong>
            </div>
            <div class="party">
                <!-- <div class="slot" *ngFor="let poke of pPokes; let i = index"
                    (click)="swap ? swapParty(i) : selectPokemon(poke)">
                    <img [src]="poke.sprite.front">
                </div> -->
                <div class="slot" *ngIf="true"></div>
            </div>
        </div>
        <img *ngIf="selected && swap" class="drag" [src]="selected.sprite.front_a" [ngStyle]="{'left': mouseX+'px', 'top': mouseY+'px'}">
    </div>
</main>

<button (click)="addPokemon()">Add Pokemon</button>
<button (click)="swap && selected ? {} : switchMode();">{{label}}</button>