<mat-toolbar color="primary" class="navbar">
    <a routerLink="" color="primary" class="home-link"><img src="../../assets/images/PokeMasters_logo.png" id='pokemasters_logo' alt=""></a>
    <div class="add-margin">
        <div *ngIf="isLoggedIn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button mat-stroked-button routerLinkActive="active" routerLink="dashboard">
                Dashboard
                <mat-icon>dashboard</mat-icon>
            </button>
            <button mat-stroked-button routerLink="" (click)="logout()">
                Logout
                <mat-icon>logout</mat-icon>
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button mat-stroked-button routerLinkActive="active" routerLink="login">
                Login
                <mat-icon>login</mat-icon>
            </button>
            <button mat-stroked-button routerLinkActive="active" routerLink="register">
                Register
                <mat-icon>app_registration</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>