<mat-toolbar color="primary" class="navbar">
    <a mat-flat-button routerLink="" color="primary" class="home-link">PokeMasters</a>
    <div class="add-margin">
        <div *ngIf="isLoggedIn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button mat-stroked-button routerLink="" (click)="logout()">
                logout
                <mat-icon>logout</mat-icon>
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button mat-stroked-button routerLinkActive="active" routerLink="login">
                login
                <mat-icon>login</mat-icon>
            </button>
            <button mat-stroked-button routerLinkActive="active" routerLink="register">
                register
                <mat-icon>app_registration</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>