<main>
    <div id="mainView" *ngIf="!trading && !offering && !viewTrade">
        <div id="trainerTrades">
            <div class="title">
                <strong>My Trades</strong>
            </div>
            <div class="grid">
                <div *ngFor="let trade of myTrades" class="trade" (click)="selectTrade(trade)" [style]="{'background-color' : (accepted(trade) ? 'rgb(255, 229, 80)' : 'rgb(80, 211, 255)')}">
                    <div *ngIf="trade">
                        <img [src]="trade.listed.sprite.front">
                    </div>
                </div>
                <button id="newTradeButton" (click)="newTrade()">Make a trade request</button>
            </div>
        </div>
        <div id="otherTrades">
            <div class="title">
                <strong>Browse Trades</strong>
            </div>
            <div class="grid">
                <div *ngFor="let trade of otherTrades" class="trade" (click)="offerTrade(trade)">
                    <img *ngIf="trade" [src]="trade.listed.sprite.front">
                </div>
            </div>
        </div>
    </div>

    <div id="viewTrade" *ngIf="viewTrade">
        <p>Viewing a trade</p>
        <div *ngIf="activeTrade.offered">
            <img [src]="activeTrade.offered.sprite.front">
            <p>
                <b>Lv</b> {{activeTrade.offered.level}}
            </p>
        </div>
        <div>
            <button (click)="reset()">Back</button>
            <button (click)="cancelTrade()" *ngIf="!accepted(this.activeTrade)">Cancel Trade</button>
            <button (click)="receiveFromTrade()" *ngIf="accepted(this.activeTrade)">Collect</button>
        </div>
    </div>

    <div id="offerTrade" *ngIf="offering">
        <div class="head">
            <strong>Select a Pokemon</strong>
        </div>
        <div slot="content">
            <div class="view">
                <div class="leftsidebar">
                    <div class="title">
                        <strong>Party</strong>
                    </div>
                    <div class="party" *ngIf="pPokes && pPokes.length > 0">
                        <div class="slot" *ngFor="let poke of pPokes" (click)="choosePokemon(poke)"
                            [style]="canSelect(poke) ? '' : 'pointer-events: none'">
                            <img [src]="poke.sprite.front"
                                [style]="canSelect(poke) ? '' : 'opacity: 0.3'">
                        </div>
                    </div>
                    <div *ngIf="selected">
                        <h1>{{selected.nickname || selected.name | titlecase}}</h1>
                        <img [src]="selected.sprite.front_a">
                        <p>
                            <b>Lv:</b> {{selected.level}}
                            <br>
                            <b>Type:</b> {{selected.type1 | titlecase}}{{hasType(selected.type2) ? ((', ' +
                            selected.type2)
                            |
                            titlecase) : ''}}
                            <br>
                            <b>Weight:</b> {{selected.weight}}
                            <br>
                            <b>Height:</b> {{selected.height}}
                            <br>
                            <b>HP:</b> {{selected.hp}}/{{selected.stats.hp}}
                            <br>
                            <b>Att:</b> {{selected.stats.att}}
                            <br>
                            <b>Def:</b> {{selected.stats.def}}
                            <br>
                            <b>Sp Att:</b> {{selected.stats.satt}}
                            <br>
                            <b>Sp Def:</b> {{selected.stats.sdef}}
                            <br>
                            <b>Speed:</b> {{selected.stats.speed}}
                        </p>
                    </div>
                </div>
                <div class="storage">
                    <div class="titlebar">
                        <mat-icon class="clickable left" (click)="prev()">arrow_back_ios</mat-icon>
                        <strong>{{storage.boxes[storage.activeIndex].name}}</strong>
                        <mat-icon class="clickable right" (click)="next()">arrow_forward_ios</mat-icon>
                    </div>
                    <div class="box">
                        <div class="slot" *ngFor="let poke of box" (click)="choosePokemon(poke)"
                            [style]="canSelect(poke) ? '' : 'pointer-events: none'">
                            <img class="contain" *ngIf="poke" [src]="poke.sprite.front"
                                [style]="canSelect(poke) ? '' : 'opacity: 0.3'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot">
                <button (click)="reset()">Cancel</button>
                <button (click)="confirmTrade()">Confirm</button>
            </div>
        </div>
    </div>

    <div id="newTrade" *ngIf="trading && !offering && !selPoke">
        <div class="head">
            <strong>Select a Pokemon</strong>
        </div>
        <div slot="content">
            <div class="view">
                <div class="leftsidebar">
                    <div class="title">
                        <strong>Party</strong>
                    </div>
                    <div class="party" *ngIf="pPokes && pPokes.length > 0">
                        <div class="slot" *ngFor="let poke of pPokes" (click)="choosePokemon(poke)">
                            <img [src]="poke.sprite.front">
                        </div>
                    </div>
                    <div *ngIf="selected">
                        <h1>{{selected.nickname || selected.name | titlecase}}</h1>
                        <img [src]="selected.sprite.front_a">
                        <p>
                            <b>Lv:</b> {{selected.level}}
                            <br>
                            <b>Type:</b> {{selected.type1 | titlecase}}{{hasType(selected.type2) ? ((', ' +
                            selected.type2)
                            |
                            titlecase) : ''}}
                            <br>
                            <b>Weight:</b> {{selected.weight}}
                            <br>
                            <b>Height:</b> {{selected.height}}
                            <br>
                            <b>HP:</b> {{selected.hp}}/{{selected.stats.hp}}
                            <br>
                            <b>Att:</b> {{selected.stats.att}}
                            <br>
                            <b>Def:</b> {{selected.stats.def}}
                            <br>
                            <b>Sp Att:</b> {{selected.stats.satt}}
                            <br>
                            <b>Sp Def:</b> {{selected.stats.sdef}}
                            <br>
                            <b>Speed:</b> {{selected.stats.speed}}
                        </p>
                    </div>
                </div>
                <div class="storage">
                    <div class="titlebar">
                        <mat-icon class="clickable left" (click)="prev()">arrow_back_ios</mat-icon>
                        <strong>{{storage.boxes[storage.activeIndex].name}}</strong>
                        <mat-icon class="clickable right" (click)="next()">arrow_forward_ios</mat-icon>
                    </div>
                    <div class="box">
                        <div class="slot" *ngFor="let poke of box" (click)="choosePokemon(poke)">
                            <img class="contain" *ngIf="poke" [src]="poke.sprite.front">
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot">
                <button (click)="reset()">Cancel</button>
                <button (click)="selected ? selectPokemon() : message()">Select</button>
            </div>
        </div>
    </div>

    <div id="submitTrade" *ngIf="trading && selPoke">
        <div class="head">
            <strong>Submit a trade request</strong>
        </div>
        <div id="form" slot="content">
            <img [src]="selected.sprite.front" style="width: fit-content">
            <span><b>Lv.</b> {{selected.level}}</span>
            <strong>Requirements for trade</strong>
            <hr>
            <label>Enter the dex number of the desired Pokemon</label>
            <input type="number" [(ngModel)]="pokeId" required>
            <label>Enter the acceptable difference in levels</label>
            <input type="number" [(ngModel)]="range" required>
        </div>
        <div class="foot">
            <button (click)="reset()">Cancel</button>
            <button (click)="createTrade()">Submit</button>
        </div>
    </div>
</main>