.background {
    background-image: url('../../assets/images/wp2768307.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
}