<h1>Register</h1>
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <label for="username">Username</label>
    <br>
    <input type="text" name='username' id="username" ngModel>
    <br>
    <br>
    <label for="displayName">Display name</label>
    <br>
    <input type="text" name='displayName' id="displayName" ngModel>
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name='password' id="password" ngModel>
    <br>
    <br>
    <button>Register</button>
</form>